<!-- templates/account/logout.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
    <link rel="stylesheet" href="{% static 'css/logout.css' %}"> <!-- Link to your custom CSS -->
</head>
<body>
    <div class="logout-container">
        <h2>Sign Out</h2>
        <p>Are you sure you want to sign out?</p>
        <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Sign Out</button>
        </form>
        
        <a href="{% url 'account_login' %}">Login</a>

    </div>
</body>
</html>
