{% extends 'account/layout.html' %}


{% block body %}
<div class="container">
    <div class="right-section">
        <div class="auth-toggle">
            <a href="{% url 'account_signup' %}" class="register active">Registrar</a>
            <a href="{% url 'account_login' %}" class="login">Entrar</a>
            <h2>Registrar</h2>
        
        <form method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Registrar</button>
        </form>
    </div>        
</div>
{% endblock %}
