
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majimoveis - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    
    <div class="container">
        <div class="right-section">
            <div class="auth-toggle">
                <a href="{% url 'account_signup' %}" class="register active">Register</a>
                <a href="{% url 'account_login' %}" class="login">Sign in</a>
                <h2>Register</h2>
            
            <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Sign up</button>
            </form>
        </div>
    </div>
</body>
</html>
