{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    
</head>

<body>
    <!-- Header Section -->
<!-- Header Section -->
<header class="top-navbar">
    <div class="navbar-container">
        <!-- Profile Icon -->
        <div class="navbar-item">
            <a href="/perfil">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>

<!-- Filter Icon -->
<div class="navbar-item">
    <a href="/">
        <button class="filter-button icon-button">
            <i class="fas fa-search"></i>
        </button>
    </a>
</div>

        <!-- Add Property Icon -->
        <div class="navbar-item">
            <a href="/admin/sales/property/add/">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>
    </div>
</header>

<!-- Link to FontAwesome for Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</header>

    <!-- Main Content Section -->
    <main>

        {% block filter %}
        {% endblock %}


        {% block content %}
        {% endblock %}
    </main>



    <script src="{% static 'sales/scripts.js' %}"></script>
</body>

</html>
