<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Users Home Page</h1>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <p>You are logged in. You can now access other parts of the website.</p>
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'sales:index' %}">Go to Sales Page</a>
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'users:login' %}">login here</a>.</p>
    {% endif %}


    <div class="container">
        <h2>Perfil de {{ user.username }}</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="profile_picture">Imagem de Perfil:</label>
            {% if user.profile.profile_picture %}
              <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">
            {% endif %}
            {{ form.profile_picture }}
          </div>
          <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
      </div>
</body>
</html>
